<p><%= @commenter.name %> commented on your post "<%= @post.title %>"</p>
<p>Their comment was "<%= @comment.content %>"</p>
<p>
  To see the comment, just follow this link: <%= @url %>.
</p>
<p>Thanks for participating on NutraNation!</p>