<p>Thank you for registering! As soon as the community is ready to launch, you will be the first to know. You can then get certified and join your new community of registered Dietitians.</p>
<p>
Have you ever been frustrated by the nonsense that passes for nutrition advice on the Internet? We certainly have! The Internet is plagued by websites making unverified claims about the rejuvenating properties of their particular fad diet or miracle pill. At best this advice is useless and at worst can be downright harmful. Worst of all, these snake oil salesmen cast a shadow of suspicion over the people who actually have  insight into how to eat right and live healthy.  
</p>
<p>
Our goal at NutraNation is to solve this problem by amplifying the voice of those people who know what they are talking about! We want to provide a platform where credentialed experts can engage in dialogue with people who share their expertise and passion for nutrition.  More importantly, we want to provide these experts a soapbox from which spread a simple message: nutrition is a science.
</p>
<p>
So join us on at NutraNation as we try to make the world a healthier place one carrot at a time!  
</p>

