ter@charset "utf-8";
/* CSS Document */

body {
	min-height:500px;
	overflow-y:scroll;
	background: none no-repeat scroll 0 0 #000000;
    color: #494C37;
    direction: ltr;
    font:Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    unicode-bidi: embed; /*The unicodeBidi property is used with the direction property to set or return whether the text should be overridden to support multiple languages in the same document.*/
	background-color: #ffffff;
	background: -webkit-gradient(radial, left top, left bottom, from(#FFFFFF) 35%, to(#C7D954) 130%); /* Saf4+, Chrome */
	background: -webkit-radial-gradient(top center, #FFFFFF 35%, #C7D954 130%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-radial-gradient(top, #FFFFFF 35%, #C7D954 130%); /* FF3.6 */
	background:     -ms-radial-gradient(top, #FFFFFF 35%, #C7D954 130%); /* IE10 */
	background:      -o-radial-gradient(top, #FFFFFF 35%, #C7D954 130%); /* Opera 11.10+ */
	background-color:         radial-gradient(top, #FFFFFF 35%, #C7D954 130%);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFF, EndColorStr=#C7D954 ); /* IE6–IE9 */
}
.clear {
	clear:both;
	}
a  {
	text-decoration:none;
}
h1 {
	font-size:17px;
	border-bottom:1px solid white;
	}
h2 {
	line-height:inherit;
	font-size:inherit;
	font-weight:normal;
	}
h3 {
	font-size:inherit;
	font-weight:normal;
	}
h4 {
	font-size:inherit;
	font-weight:normal;
	}
h5 {
	}
h6 {
	}
td {
	padding:0;	
	}
ul {
	margin:0;
	}
.singletextitem {
	line-height:15px;
	
	}	

.button_green {
		text-decoration:none;
		height:auto;
		font-size:14px;
		font-weight:bold;
		color:white;
		margin:0 10px 15px 10px;
		border-width:1px;
		border-style:solid;
		border-color:#000 #000 #161711 #000;
		border-radius:3px;
		box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
		text-shadow:0 -1px #623633;
		text-align: center;
		text-shadow:#313325;
		background-color: #737F28;
		background: -webkit-gradient(linear, left top, left bottom, from(#737F28), to(#737F28)); /* Saf4+, Chrome */
		background: -webkit-linear-gradient(top, #737F28, #737F28); /* Chrome 10+, Saf5.1+ */
		background:    -moz-linear-gradient(top, #737F28, #737F28); /* FF3.6 */
		background:     -ms-linear-gradient(top, #737F28, #737F28); /* IE10 */
		background:      -o-linear-gradient(top, #737F28, #737F28); /* Opera 11.10+ */
		background:         linear-gradient(top, #737F28, #737F28);
	 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#737F28, EndColorStr=#737F28 ); /* IE6–IE9 */
		cursor:pointer;
		white-space:nowrap;
		}
a.button_green:hover {
		background-color:green;/*text-decoration:underline;*/	
		box-shadow:0 0 1px 1px #FFFFFF;
		}	



/*----------------------------------------headerbar attributes----------------------------------------*/


#headerbar_holder {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	height:36px;
	background-color: #818C3A;
	background: -webkit-gradient(linear, left top, left bottom, from(#818C3A), to(#BBCC55)); /* Saf4+, Chrome */
	background: -webkit-linear-gradient(bottom, #818C3A, #BBCC55); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(bottom, #818C3A 0%,#bbcc55 99%,#EAFF6A 99.5%); /* FF3.6 */
	background-color:     -ms-linear-gradient(bottom, #818C3A, #BBCC55); /* IE10 */
	background:      -o-linear-gradient(top, #818C3A, #BBCC55); /* Opera 11.10+ */
	background:         linear-gradient(top, #818C3A, #BBCC55);
 				filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#BBCC55, EndColorStr=#818C3A ); /* IE6–IE9 */
	}

#headerbar_allwidth {
	position:relative;
	min-width:980px;
	width:100%;
	height:37px;
	margin-right:auto;
	margin-left:auto;
	border-bottom:
	background-color:#060;
	border-bottom:1px solid black;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
	z-index:100000;
	}
#headerbar_content {
	width:980px;
	margin-right:auto;
	margin-left:auto;
	height:36px;/*<!--placeholder-->*/
	background-color:#000;/*<!--placeholder-->*/
	border:1px solid #000;/*<!--placeholder-->*/
	}
#logo_main {
	float:left;
	height: 36px;
	width: 138px;
	background-position: -5px -5px;
	background-size:360px 288px;
    background-repeat: no-repeat;
	display:block;
	background-image:url(images/logo.png);
	background-color:white;
	}
.headerbar_element {
	float:left;
	height:36px;
	min-width:20px;
	display:inline;
	}
#headerbar_searchbar_wrapper {
	width:330px;
	height:36px;
	float:left;
	display:inline-block;
	background:blue;
	}
.headerbar_searchbar {
	width:100%;
	height:36px;
	background:blue;
	margin:auto;
	}
.searchbox {
	width:315px;
	height:20px;
	background:yellow;
	margin:auto;
	margin-top:5px;
	}
#headerbar_nav {
	float:right;
	line-height:36px;
	}
.header_link {
	background-color:#ccc;
	display:inline-block;
	padding:0 10px 0 10px;
	}
.header_link:hover {
	background-color:#90C;
	} 
	

/*------------------------------------------------------------------------main--------------------------------------------------*/



#container_holder {
	padding-top:38px;
	background-color:white;
	}
#container_content {
	width:980px;
	min-height:400px;
	margin-right:auto;
	margin-left:auto;
	background-color:#000;/*<!--placeholder-->*/
	border:3px solid pink;/*<!--placeholder-->*/
	}
.frame_content {
	float:left;
	width:720px;/*<!--placeholder-->*/	
	min-height:100px;
	margin-top:20px;
	background-color:inherit;
	border:1px solid black; /*<!--placeholder-->*/
	}
.frame_sidebarright {
	float:right;
	background-color:green;
	width:220px;/*<!--placeholder-->*/	
	border:1px solid black; /*<!--placeholder-->*/	
	height:auto;
	margin-top:20px;x
	}
.feed_container {
	margin-left:140px;
	width:530px;
	background-color:inherit;
}


/*-----------------------------------------------------------unique post---------------------------------------------------------------*/

.unique_post {
	background-color:inherit;
	padding-bottom:5px;
	border-bottom:1px dashed #333;
	}
.unique_post h1 {
	float:left;
	width:100%;
	padding-bottom:8px;
	margin-bottom:5px;
	color:#F00;
	font-size:17px;
	border-bottom:1px solid white;
	text-align:left;
	}
.container_onlypostitself {
	background-color:inherit;	
	}
.unique_post a.sub_post {
	margin-right:0px;
	margin-bottom:5px;
	float:left;
	font-size:11px;
	color:#09f;
	text-decoration:none;
	}
.unique_post .sub_post {
	margin-right:0px;
	margin-bottom:5px;
	float:left;
	font-size:11px;
	color:#ccc;
	text-decoration:none;
	}
.sub_post_actions {
	height:20px;
	}
.post_text {
	position:relative;
	padding-bottom:1px;
	text-align:left;
	color:white;
	font-size:16px;
	background-color:inherit;
	}



		/*-------------------------post_expendable-----------------------*/

/*.post_text h2 {
	max-height:61px;
	margin-bottom:7px;
	overflow:hidden;
	}
*/.post_text .more_expand_text {
	position:absolute;
	top:74px;
	right:0px;
	padding:2px 10px 2px 10px;
	font-size:13px;
	color:blue;
	cursor:pointer;
	background:inherit;
	display:none;	
	}
.more_expand_text:hover {
	}


/*-----------------------------------------------------------answer---------------------------------------------------------------*/

.container_allanswers{
	display:block;
	}
.answer_box {
	width:480px;
	height:auto;
	min-height:50px;/*to ensure that plus and minus have space*/
	margin-bottom:25px;
	margin-top:5px;
	background-color:#FF6;
	}
.myanswer_box {
	width:480px;
	height:auto;
	min-height:50px;/*to ensure that plus and minus have space*/
	margin-bottom:25px;
	margin-top:5px;
	background-color:#CF6;
	}

.answer_rating_container {
	float:left;
	width:30px;
	height:auto;
	min-height:30px;
	}
.answer_rating_plusminus {
	position:static;
	float:left;
	position:relative;
	width:24px;
	height:18px;
	padding:2px;
	margin-bottom:5px;
	background-color:#C9C;
	font-size:20px;
	text-align:center;
	font-weight:bold;
	font-size:24px;
	color:#000;
	cursor:pointer;
	}

.answer_content {
	position:relative;
	float:right;
	height:auto;
	min-height:22px;
	width:428px;
	padding:8px 10px 3px 12px;
	margin-bottom:35px;
	background-color:#6FC;
	line-height:17px;
	font-size:14px;
	color:black;
	text-align:left;
	}
.answer_content h3 {
	position:relative;
	color:blue;
}
.myanswer_content {
	float:right;
	height:auto;
	min-height:22px;
	width:428px;
	padding:8px 10px 3px 12px;
	background-color:#0cC;
	line-height:17px;
	font-size:14px;
	color:black;
	text-align:left;
	}

.sub_answer_actions {
	height:20px;
	margin-top:5px;
	}

.answer_box .sub_answer {
	margin-right:0px;
	margin-bottom:5px;
	float:left;
	font-size:11px;
	color:#09F;
	text-decoration:none;
	}

.myanswer_texteditor_container {
	width:400px;
	height:200px;
	margin-top:7px;
	margin-bottom:30px;
	background:white;
}
	
		/*-------------------------answer_expendable-----------------------*/

/*.answer_content h3 {
	max-height:120px;
	margin-bottom:7px;
	overflow:hidden;
	}
*/.answer_content .more_expand_text {
	position:absolute;
	top:138px;
	right:0px;
	padding:2px 10px 2px 10px;
	font-size:13px;
	color:blue;
	cursor:pointer;
	background:inherit;
	display:none;
	
	}
.more_expand_text:hover {
	}




/*-----------------------------------------------------------comment---------------------------------------------------------------*/

.container_allcomments{
	background-color:inherit;
	display:block;}
.comment_box{
	width:480px;
	height:auto;
	min-height:50px;/*to ensure that plus and minus have space*/
	margin-bottom:35px;
	margin-top:0px;
	background-color:#F39;
	}
.mycomment_box{
	width:480px;
	height:auto;
	min-height:50px;/*to ensure that plus and minus have space*/
	margin-bottom:35px;
	margin-top:0px;
	background-color:#E19;
	}
.comment_content {
	position:relative; /*untested*/
	float:right;
	height:auto;
	min-height:22px;
	width:408px;
	padding:8px 10px 3px 12px;
	background-color:#03F;
	line-height:17px;
	font-size:14px;
	color:black;
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-collapse:collapse;
	}
.mycomment_content {
	float:right;
	height:auto;
	min-height:22px;
	width:408px;
	padding:8px 10px 3px 12px;
	background-color:#08F;
	line-height:17px;
	font-size:14px;
	color:black;
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-collapse:collapse;
	}
.mycomment_texteditor_container {
	width:300px;
	height:100px;
	margin-top:7px;
	margin-bottom:30px;
	background:white;
	}
.sub_answer_actions {
	height:20px;
	margin-top:5px;
	}

.comment_box .sub_comment {
	margin-right:0px;
	margin-bottom:5px;
	float:left;
	font-size:11px;
	color:#09F;
	text-decoration:none;
	}


		/*-------------------------comment_expendable-----------------------*/

.comment_content h4 {
	max-height:120px;
	margin-bottom:7px;
	overflow:hidden;
	}
.comment_content .more_expand_text {
	position:absolute;
	top:143px;
	right:0px;
	padding:2px 10px 2px 10px;
	font-size:13px;
	color:blue;
	cursor:pointer;
	background:inherit;
	display:block;
	
	}
.comment_content .more_expand_text:hover {
	}






	/*--------------------------------------------------------feed---additional stuff---------------------------------------------------------------*/
	
.feedpage_headline_container {
	width:100%;
	height:18px;
	background-color:green;
	padding-bottom:7px;
	border-bottom:2px solid #ccc;
	margin-bottom:15px;
	}
.feedpage_headline_container_buttons {
	position:relative;
	width:100%;
	height:18px;
	background-color:green;
	margin-bottom:15px;
	}
.feedpage_headline_container_buttons .button_green{
	width:200px;
	height:12px;
	margin:26px 10px 0 0;
	padding:0 13px 0 13px;
	display:inline;
	}
.feedpage_headline_container .singletextitem {
	color:white;
	font-weight:800;
	display:inline;
	white-space:nowrap;
	}
.feedpage_headline_container a.singletextitem {
	float:right;
	color:blue;
	display:inline;
	white-space:nowrap;
	font-weight:normal;
}
.feedpage_headline_container a.singletextitem:active {
	color:green;
	font-weight:normal;
}
.feedpage_headline_container .vertical_line {
	padding:0 5px 0 5px;
	color:white;
}

.sub_post_reactions	{
	width:80px;
	height:18px;
	margin-bottom:6px;
	padding:1px 3px 1px 3px;
	background-color:#333;
	color:#999;
	font-size:14px;
	line-height:17px;
	white-space:nowrap;
	text-align:left;
	cursor:pointer;
	display:none;
	}
.sub_answer_reactions	{
	width:auto;
	height:18px;
	margin-bottom:6px;
	padding:1px 3px 1px 3px;
	background-color:#333;
	color:#999;
	font-size:13px;
	line-height:16px;
	white-space:nowrap;
	text-align:left;
	display:none;
	}
.feedpage_morebutton_container {
	margin-right:40px;
	margin-left:-10px;
	}
	
	
	
	
	
	
	/*--------------------------------------------------------sidebar-right-----------------------------------------------------------------*/
	#sidebarright_actionbuttons_container {
		position:absolute;
		top:71px;
		width:220px;
		height:20px;
		border-bottom:1px solid blue;
		padding-top:11px;
		padding-bottom:11px;
		}

	#sidebarright_otherthanbutton {
		position:relative;
		top:43px;
		width:220px;
		height:auto;
		background:red; /*<!--placeholder-->*/		
		}
	#sidebarright_topicsection_container{
		top:110px;
		width:220px;
		border-bottom:1px solid pink;
		padding-top:15px;
		padding-left:10px;
		padding-bottom:10px;
		color:black;
		text-align:left;
		}
	.sidebarright_section_headline {
		padding:5px 0 5px 5px;
		}
	.sidebarright_list_headline {
		padding-left:0;
		margin-bottom:1px;
	}
	.sidebarright_list {
		list-style-type:none;
		padding-left:5px;
		margin-top:0;
		}
	.sidebarright_list h3 {
		color:red;
		margin-bottom:-2px;
		margin-top:0px;
		padding-top:8px;
		display:inline-block;
	}
	.sidebarright_addinfoforlistitem {
		font-size:12px;
		color:gray;
		margin-left:10px;
	}
	.button_sidebarright_followtopic {
			text-decoration:none;
			height:auto;
			width:auto;
			font-size:12px;
			font-weight:bold;
			color:white;
			padding:3px 5px 3px 5px;
			margin:0 40px 12px 5px;
			border-width:1px;
			border-style:solid;
			border-color:#000 #000 #161711 #000;
			border-radius:3px;
			box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
			text-shadow:0 -1px #623633;
			text-align: center;
			text-shadow:#313325;
			background-color: #737F28;
			background: -webkit-gradient(linear, left top, left bottom, from(#737F28), to(#737F28)); /* Saf4+, Chrome */
			background: -webkit-linear-gradient(top, #737F28, #737F28); /* Chrome 10+, Saf5.1+ */
			background:    -moz-linear-gradient(top, #737F28, #737F28); /* FF3.6 */
			background:     -ms-linear-gradient(top, #737F28, #737F28); /* IE10 */
			background:      -o-linear-gradient(top, #737F28, #737F28); /* Opera 11.10+ */
			background:         linear-gradient(top, #737F28, #737F28);
		 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#737F28, EndColorStr=#737F28 ); /* IE6–IE9 */
			cursor:pointer;
			white-space:nowrap;
			}
		a.button_sidebarright_followtopic:hover {
			background-color:green;/*text-decoration:underline;*/	
			box-shadow:0 0 1px 1px #FFFFFF;
		
	}
.button_sidebarright_addtopic {
			float:left;
			text-decoration:none;
			height:auto;
			width:auto;
			font-size:12px;
			font-weight:bold;
			color:white;
			padding:3px 5px 3px 5px;
			margin:20px 40px 12px 5px;
			border-width:1px;
			border-style:solid;
			border-color:#000 #000 #161711 #000;
			border-radius:3px;
			box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
			text-shadow:0 -1px #623633;
			text-align: center;
			text-shadow:#313325;
			background-color: #737F28;
			background: -webkit-gradient(linear, left top, left bottom, from(#737F28), to(#737F28)); /* Saf4+, Chrome */
			background: -webkit-linear-gradient(top, #737F28, #737F28); /* Chrome 10+, Saf5.1+ */
			background:    -moz-linear-gradient(top, #737F28, #737F28); /* FF3.6 */
			background:     -ms-linear-gradient(top, #737F28, #737F28); /* IE10 */
			background:      -o-linear-gradient(top, #737F28, #737F28); /* Opera 11.10+ */
			background:         linear-gradient(top, #737F28, #737F28);
		 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#737F28, EndColorStr=#737F28 ); /* IE6–IE9 */
			cursor:pointer;
			white-space:nowrap;
			}
a.button_sidebarright_addtopic:hover {
	background-color:green;/*text-decoration:underline;*/	
	box-shadow:0 0 1px 1px #FFFFFF;
		
	}
.sidebarright_list .textbox {
	width:150px;
	margin-top:15px;
	}
	
	.sidebarright_list.li {
		color:green;
	}
/*--------------------------------------------------------footer------------------------------------------------------------------*/

#footerbar_holder {
	height:36px;
	}

#footerbar_allwidth {
	position:relative;
	min-width:980px;
	width:100%;
	height:37px;
	margin-right:auto;
	margin-left:auto;
	border-bottom:
	background-color:#060;
	border-bottom:1px solid black;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
	}
#footerbar_content {
	width:980px;
	margin-right:auto;
	margin-left:auto;
	height:36px;/*<!--placeholder-->*/
	background-color:#000;/*<!--placeholder-->*/
	border:1px solid #000;/*<!--placeholder-->*/
	}

/*----------------------------------------------------profile left side----------------------------------------------------------------------*/

.frame_profileleft {
	float:left;
	width:607px;/*<!--placeholder-->*/	
	min-height:100px;
	margin-top:20px;
	background-color:blue;
	border:1px solid black; /*<!--placeholder-->*/
	}
#profileleft_container {
	position:relative;
	margin-left:140px;
	width:467px;
	padding:4px;
	background-color:#0F0;
	min-height:20px;
	}
#profile_maininfos {
	}
#profile_picdescript {
	min-height:100px;
	background-color:yellow;
	}
.profile_designbox {
	border:1px dashed #000;
	min-height:130px;
	border-collapse:collapse;
	}
.profile_structurebox {
	border:1px solid #FFF;
	position:static;
	border-collapse:collapse;
	}
#profilepicture	{
	position:relative;
	float:left;
	width:105px;
	height:105px;
	margin-right:6px;
	background-color:#FFC;
	background-image:url(images/profilepicexample.png);
	border:1px solid black;
	border-collapse:collapse;
}
#profile_picture_add_inside {
	position:absolute;
	bottom:0px;
	width:100%;
	height:40%;	
	color:transparent;
	cursor:pointer;
	}
#profile_picture_add_inside:hover {
	visibility:visible;
	color:black;
	background-color:white;
	}
#profile_maininfo_maininfo {
	position:relative;
	float:right;
	width:348px;
	background-color:#0FF;
	}
#profile_maininfo_maininfo .profile_structurebox {
	padding-bottom:4px;
	background-color:#96C;
	white-space:nowrap;
	overflow:hidden;
	}
#profile_maininfos_name {
	font-weight:800;
	font-size:21px;
	display:block;
	}
#profile_maininfos_position {
	font-weight:500;
	display:block;
	}
#profile_maininfos_location {
	font-weight:700;
	color:#ccc;
	display:block;
	}
#profile_maininfos_ratings {
	float:left;width:auto;
	max-width:181px;
	margin-right:15px;
	font-weight:700;
	color:#ccc;
	display:inline;
	}
#profile_maininfos_answers {
	float:right;
	max-width:152px;
	font-weight:700;
	color:#ccc;
	display:inline;
	}
#profile_maininfo_maininfo .count_contributions {
	color:#6C3;
	font-size:23px;
	}
#sign_certified_box {
	position:absolute;
	top:0px;
	right:0px;
	width:66px;
	height:66px;
	z-index:5;
	}
#sign_certified_text {
	position:absolute;
	right:0px;
	top:3px;
	background-color:green;
	z-index:6000;
	font-size:10px;
	}
#sign_certified_triangle {
	position:absolute;
	width:0px;
	height:0px;
	border-bottom:33px solid transparent;
	border-top:33px solid yellow;
	border-left:33px solid transparent;
	border-right:33px solid yellow;
	z-index:4;
	}
#profile_furtherinfos {
	min-height:50px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#9F9;
	
	}
#profile_furtherinfos_table {
	}
#profile_furtherinfos_table tr {
	padding-bottom:30px;
	}
#profile_furtherinfos_table .profile_furtherinfos_table_left {
	width:104px;
	padding-right:10px;
	background-color:#9F6;
	color:#666;
	} 
#profile_furtherinfos_table .profile_furtherinfos_table_right {
	width:346px;
	background-color:#906;
	} 
.profile_furtherinfos_table_right li {
	list-style-type:none;
	list-style-position:inside;
	list-style-image:none;
	text-align:left;
	}
.profile_furtherinfos_table_right ul {
	margin-top:0px;
	padding-left:5px;
	}
.profile_furtherinfos_table_left {
	vertical-align:top;
	}
.profile_furtherinfos_table_right {
	vertical-align:top;
	}
#profile_furtherinfos_table td {
	padding-bottom:7px;
	}

/*----------------------------------------------------profile right side----------------------------------------------------------------------*/

.frame_profileright {
	float:right;
	background-color:green;
	width:370px;/*<!--placeholder-->*/	
	border:1px solid black; /*<!--placeholder-->*/	
	height:auto;
	margin-top:20px;
	}
#profileright_otherthanbutton {
		position:relative;
		top:43px;
		width:377px;
		height:auto;
		background:red; /*<!--placeholder-->*/		
		}
#profileright_actionbuttons_container {
		position:absolute;
		top:71px;
		width:370px;
		height:20px;
		border-bottom:1px solid blue;
		padding-top:11px;
		padding-bottom:11px;
		background-color:white;
		}
a.profile_furtherinfos_links {
	text-decoration:underline;
	}
#profile_feed {
	background-color:#900;
	min-height:100px;
	}


/*--------------------------------------------------------------------------------------------------------------------------*/

a.post_username {
	color:#F00;
	padding-right:0px;
	}
.user_description {
	color:green;;
	padding-left:7px;
	}
.vertical_line {
	padding:0 5px 0 5px;
}