<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
	  <% else %>
		<span class="no-follow">None!</span>
      <% end %>
    </td>
    <td style="vertical-align: top;">
      <%= render 'shared/sitebar_info' %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>