<div id="container_holder">
  	<div id="container_content">            
	<div class="frame_profileleft">
					<div id="profileleft_container" class="profile_designbox">
                    	<div id="profile_maininfos" class="profile_designbox">
                        	<div id="profile_picdescript" class="profile_structurebox">
                            	<div id="profilepicture" class="profile_structurebox"><!--profile pic goes here-->
                                	<div id="profile_picture_add_inside" class="profile_structurebox">+ change picture
                                    </div>
                                </div>
                                <div id="profile_maininfo_maininfo" class="profile_structurebox">
                                    <div class="profile_structurebox" id="profile_maininfos_name"> <%= @user.name %><!--Eric-Maxim Choupo-Moting  kann man den Namen so machen, dass er kleiner geschrieben wird im font-size, wenn er nicht passt?-->
                                    </div>
                                    <div class="profile_structurebox" id="profile_maininfos_position"> Registered Dietician, TX, MA
                                    </div>
                                    <div class="profile_structurebox" id="profile_maininfos_location"> Boston, MA
                                    </div>
                                    <div class="profile_structurebox" id="profile_maininfos_ratings"> Positive Ratings:<span class="count_contributions">21888</span>							
                                    </div>
                                    <div class="profile_structurebox" id="profile_maininfos_answers"> Answers:<span class="count_contributions">1666</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                           
                        </div>
                        
                        <div id="profile_furtherinfos" class="profile_designbox">
                         
                        <table id="profile_furtherinfos_table" class="profile_structurebox">
							<tr id="profile_furtherinfos_table_twitterprofile">
                            	<td class="profile_furtherinfos_table_left">Twitter
                                </td>
                                <td class="profile_furtherinfos_table_right">
                                	<ul>
                                    	<li><a class="profile_furtherinfos_links" href="wwww.twitter.com/NutraNation">wwww.twitter.com/NutraNation</a></li>
                                    </ul>
                                    
                                </td>                            
                            </tr>

                            <tr id="profile_furtherinfos_table_education">
                            	<td class="profile_furtherinfos_table_left">education
                                </td>
                                <td class="profile_furtherinfos_table_right">
                                	<ul>
                                    	<li>Humboldt-University Berlin</li>
                                        <li>Hebrew University Jerusalem</li>
                                    </ul>
                                    
                                </td>                            
                            </tr>
							<tr id="profile_furtherinfos_table_website">
                            	<td class="profile_furtherinfos_table_left">website
                                </td>
                                <td class="profile_furtherinfos_table_right">
                                	<ul>
                                    	<li><a class="profile_furtherinfos_links" href="www.bastisblog.com">www.bastisblog.com</a></li>
                                    </ul>
                                    
                                </td>                            
                            </tr>

                            <tr id="profile_furtherinfo_table_followers">
	                            <td class="profile_furtherinfos_table_left">connections
                                </td>
                                <td class="profile_furtherinfos_table_right"><span class="count_followers">25 followers</span>
                                </td>
    						</tr>                    
                        </table>                        
                            	<div class="profile_structurebox">
                                	<div class="profile_furtherinfos_">
                                    </div>
                                    <div class="">
                                    </div>
                                </div>
                         
                         
                         
                         </div>
                          
                        <div id="profile_feed" class="profile_designbox">
                        
                        
                        
                        
                        
												<%= render :partial => 'shared/short_post', :collection => @feed_items %>
</div>
                        <div id="sign_certified_box">
							<span id="sign_certified_triangle"></span>
                            <span id="sign_certified_text">Checked by </br>NutraNation</span> <!--wie schreibt man text schief?-->
                        </div>
					</div>
	            </div>
						 <%= render :partial => 'shared/sidebar' %>
										<div class="clear"></div>
							      	</div>
							      	<div class="clear"></div>
							    </div>
