	<div class="answer_box">
    	<div class="answer_rating_container">
      	<span class="answer_rating_plusminus">+</span>
          <span class="answer_rating_plusminus">-</span>
        </div>
    	<div class="answer_content"><a href="http://www.nutranation.org/profile/userone"class="post_username"><%= comment.user.name %></a>,<span class="user_description"><%= comment.user.description %></span><br/>
<h3><%= comment.content  %></h3>
            <div class="sub_answer_actions">
            <a class="sub_answer" href=""> Comment<span class="vertical_line">|</span></a>
            <a class="sub_answer" href=""> Flag<span class="vertical_line">|</span></a>
            <span class="sub_answer">35 minutes ago</span>
            </div>
        </div>
    	<div class="clear"></div>
 	</div>
    <div class="clear"></div>
</div>

