<div id="footerbar_holder">
  	<div id="footerbar_allwidth">
      	<div id="footerbar_content">
      		<div class="footer_links"> 
					<div class="footer_links_box">
                		<a href="http://www.nutranation.org/">Home</a> <span class="vertical_line">|</span> 
                    	<a href="" class = "about-link">About</a> <span class="vertical_line">|</span>
						<a href="" class = "contact-link">Contact</a><span class="vertical_line">|</span> 
						<span>© Copyright 2011</span> 
					</div>
      		</div>
      	</div>
  	</div>
</div>