<div id="headerbar_holder" class="thin">
  	<div id="headerbar_allwidth">
      	<div id="headerbar_content">
          	<div>
              	<a id="logo_main" alt="logo_nutranation" title="Home" href="http://www.nutranation.org/"></a>
              </div>
              <div id="headerbar_searchbar_wrapper">
              	<form class="headerbar_searchbar" action="" onsubmit="" role="search" name="search" method="get">
              		<input type="text" class="searchbox" name="s" value="" placeholder="Search Questions, Topics and Experts"/>
				</form>
              </div>
              <div id="headerbar_nav">
              	<div class="headerbar_element">
              		<a class="header_link" title="Home" href="http://www.nutranation.org/notifications">Home</a>
              	</div>
                  <div class="headerbar_element">
              		<a class="header_link" title="Inbox" href="http://www.nutranation.org/messages">Inbox</a>
              	</div>
              	<div class="headerbar_element">
              		<a class="header_link" title="Profile" href="http://www.nutranation.org/messages">Profile</a>
              	</div>
              	<div class="headerbar_element">
              		<a class="header_link" title="Settings" href="http://www.nutranation.org/notifications">Settings</a>
              	</div>
                  <div class="headerbar_element">
              		<a class="header_link" title="Logout" href="http://www.nutranation.org/notifications">Logout</a>
              	</div>
              </div>
             
             
          </div>
      </div> 
  </div>