<b>Search:<b>
<form method="get" id="searchForm" action="/search" accept-charset="UTF-8">
	<input id="search" name="search" placeholder="Search Here!" type="text">
	<input id="post_submit" name="commit" type="submit" value="Submit">
</form>