<div class ="splash">
  <h1>NutraNation</h1>
  	<p>
      An online community focused on healthy living and nutrition
  	</p>
</div>


<%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %><br>
<%= link_to "Sign up with an email", new_user_registration_path %>