<div class ="splash">
  <h1>NutraNation</h1>
  	<p>
      An online community focused on healthy living and nutrition
  	</p>
</div>

<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br>
<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>