	<div id="content-wrap">	
    <img src="/images/banner.jpg" width="943" height="260" alt="headerphoto />    								
		<div id="sidebar">	
                
                <div class="roundcont_home">
                   <div class="roundtop_home">
                     <img src="/images/tl_bottom.gif" alt="" width="15" height="15" class="corner" style="display: none" />
                   </div>
                   <div class="round_inner">
										<div style="font-size: 18px;"><a href="/users/auth/facebook">Connect With Facebook:<br/><div>
					<p><img src="/images/facebook_connect.png" width="214" height="52" border="0" ></a><br/>
					<a href="/users/sign_up">Or sign up with an email</a></p>   
                
 
                   </div>
                   <div class="roundbottom_home">
                     <img src="/images/bl_bottom.gif" alt="" width="15" height="15" class="corner" style="display: none" />
                   </div>
                </div>	
                
        </div>

        </div>
    </div>         
</div>