<div class ="splash">
  <h1>NutraNation</h1>
  	<p>
      An online community focused on healthy living and nutrition
  	</p>
</div>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>