          <div class="roundcont_right">
                 <div class="roundtop_right">
      <img src="/images/tl_sitebar.gif" alt="" width="15" height="15" class="corner" style="display: none" />
                 </div>
			                       <div class="round_inner_right">
								<div class="title_sitebar">Sitebar</div>
			                            <table border="0" cellspacing="0" cellpadding="0" class="inner_sitebar">
			                              <tr>
			                                <td><%= image_tag(current_user.display_image, :alt => "profile",  :width => "100px", :height => "100px") %> </td>
			                                <td class="inner_sitebar_text"><%= current_user.name %></td>
			                              </tr>
			                            </table>
																	<p> <%= pluralize(current_user.posts.count, "post") %></p>





                        

