<h1><%=  @tag.name %></h1>
<div id="follow_form">
	<% if current_user.following?(@tag, 'Tag') %>
	  <%= render 'shared/unfollow' %>
	<% else %>
	  <%= render 'shared/follow' %>
	<% end %>
</div>
<%= render 'shared/feed' %>
