		<div id="container_holder">
	    	<div id="container_content">
	        	<div class="frame_content">
					<div class="feed_container">
						<div class="feedpage_headline_container_buttons">
							<a class="button_green" href="">Add Question</a>
							<a class="button_green" href="">Settings</a>
						</div>
		            	<div class="feedpage_headline_container">
							<div class="singletextitem">Feed<span class="vertical_line">|</span></div>
                            <a class="singletextitem" href="">Recommandations<span class="vertical_line">|</span></a>
                            <a class="singletextitem" href="">Your Subscriptions<span class="vertical_line">|</span></a>
                            <a class="singletextitem" href="">Live Feed<span class="vertical_line">|</span></a>
						</div>
<!--after this comes the div that needs to repeated for every post in the feed--> 
<div><%= render :partial => 'shared/post_form' %></div>
<%= render :partial => 'shared/short_post', :collection => @posts %>
                        <div class="feedpage_morebutton_container">
							<a class="button_green">See more</a>
						</div>
		 			</div>
	            </div>
	            <div class="frame_sidebarright">
	            <!--followbutton is here-->
 <%= render :partial => 'shared/sidebar' %>
				<div class="clear"></div>
	      	</div>
	      	<div class="clear"></div>
	    </div>