<table class="posts" summary="Status feed">
  <%= render :partial => 'shared/feed_item', :object => @post %>
</table>

<div class = "comments">
  <table class="comments" >
    <%= render :partial => 'shared/comment', :collection => @c_comment %>
  </table>
</div>

	
<%= render 'shared/comment_form' %>
	


