<div class="header-background">
  <div class="header">
    <a id="logo" href="/">
    	<img alt="NutraNation" src="/images/logo.png"">
	</a>
    <a class="button" id="button_signin" href="/users/sign_in">Sign in</a> </div class="header">
</div class="header-background">