<div class="header-background">
  <div class="header">
    <a id="logo" href="/"> </a>
    <div id="banner_header"></div>
    <a class="button" id="button_signin" href="/users/sign_in">Sign in</a> </div class="header">
</div class="header-background">