	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noodp, noydir" /><meta name="description" content="NutraNation is an exclusive community of registered dietitians, dietetics students and nutritionists to share and discuss nutrition related topics, ask questions and find reliable answers on a social network platform" />
<title>NutraNation - Your health community</title>

<link rel="icon" href="/images/favicon.gif" type="image/gif"/>
<link href="/stylesheets/pagedesign.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/scrollTo.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26850700-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  <meta property="og:title" content="NutraNation - Your health community"/>
  <meta property="og:type" content="food:health">
  <meta property="og:url" content="http://www.nutranation.org/"/>
  <meta property="og:image" content="http://www.nutranation.org/images/logo.png"/>
  <meta property="og:site_name" content="NutraNation.org"/>
  <meta property="fb:admins" content="spencer.kline,bastian.purrer"/>
  <meta property="og:description" content="NutraNation is an exclusive community of registered dietitians, dietetics students and nutritionists to share and discuss nutrition related topics, ask questions and find reliable answers on a social network platform"/>
  <meta property="og:email" content="admin@nutranation.org"/>





</script>
<script type="text/javascript">
  function recordOutboundLink(link, category, action) {
    _gat._getTrackerByName()._trackEvent(category, action);
    setTimeout('document.location = "' + link.href + '"', 100);
  }
</script>
</head>
<body>
	<%= render 'shared/header_small' %>
		<%= yield %>
	<%= render 'shared/footer_small' %>
	<div class = "params" style = "display:none;">
		<%= debug(params)%>
	</div>
	</body>
	<script type="text/javascript" src="/javascripts/nutranation.js"></script>
	<script>$("div.footer_bottom").scrollTop();</script>
	</html>


